.colorful {
  color: blue;
}

.flashy {
  color: red;
  font-style: italic;
  background-color: yellow;
  
}

.best {
  color: yellow;
  background-color: teal;
  margin: 0 auto;
  padding: 10px;
  background-position: center;
  text-align: center;
  font-family: fantasy;
}

.excited {
  color: orange;
}

.yellow {
  background-color: yellow;
  color: blue;
  
}

.blue {
  color: yellow;
  background-color: blue;
  
  
}

.green {
  color: blue;
  background-color: green;
  
  
}


.red {
  background-color: red;
  color: white;
  
  
}

.wide {
  width: 300px;
}

.conclusion {
  float: unset;
  color: yellow;
  background-color: teal;
}